html,
body {
  overflow-x: hidden;
}

body {
  background: #6cd5ff;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  min-height: 480px;
  top: 0;
}

#fixed {
  position: fixed;
}

#fixed.absolute {
  position: absolute;
}