body {
  background: #ffffff;
  margin: 0;
  height: 100%;
  width: 100%;
  position: center;
  overflow: hidden;
}

#fixed {
  position: fixed;
}
#fixed.absolute {
  position: absolute;
}
